body {
    overflow-x: hidden;
}

#deviceInfo, #schoolListing {
    margin: 0 0 0 20px;
}

#deviceInfo > p {
    font-size: 18px;
}

#interfaces {
    font-size: 18px;
}

#schoolListing > select > option {
    font-size: 18px;
    padding: 0 5px 5px 5px;
}